@import '~antd/dist/antd.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.accordion-selector {
  border-left: green 2px;
}

table.table tbody tr td {
  font-size: 18px !important;
}

.icon-xl {
  font-size: 200px;
}

.user-icon {
  font-size: 30px;
}
 
.user-icon:hover {
  color: gray;
}
